@import "src/styles.scss";

.primary-button {
  display: inline-flex;
  flex-direction: row;
  padding: 5px 10px 5px 10px;
  background-color: $blue;
  cursor: pointer;

  span {
    color: white;
  }
}

.primary-button:hover {
  background-color: darken($blue, 10%);
}