@import "src/styles.scss";

.scene-sample {
  color: #3C2520; 
}
.wrapper {
  position: fixed;
  z-index: 999;
  top:-25px;
  left: 0;
  height: 110%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  background-color:$background;
}
.header {
  height: 600px;
  width: 100%;
  max-width: 1800px;
  background-image: url("/yao/Journey_WebDevUI-06.png");
  background-position: center;
  background-repeat: no-repeat;
  /*background-size: cover;*/
  background-size: auto 100%;
  margin: 0 auto;
  flex-shrink: 0;

}
.navBar{
  top: 30px;
  position: absolute;
}
.title {
  margin-left: 80px;
}
.searchBar {
  width: 80%;
  height: 50px;
  font-size: 1em;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    max-width: 1800px;
}
.results {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.resultsProto {
    width: 460px;
    height: 45vw;
      background-position: top center;
      background-repeat: no-repeat;
      /*background-size: cover;*/
    margin: 0px 50px;
    background-size: 100% auto;
}

.results1{
    @extend .resultsProto;
      background-image: url("/yao/Journey_WebDevUI-07.png");
}
.results2{
    @extend .resultsProto;
      background-image: url("/yao/Journey_WebDevUI-08.png");
}
.results3{
    @extend .resultsProto;
      background-image: url("/yao/Journey_WebDevUI-09.png");
}