@import "src/styles.scss";

.timeline-event {
  cursor: pointer;
  padding: 20px;

  svg.fork{
    transform: rotate(180deg);
    margin-right: 5px;
  }

  .fork-button {
    margin-left: 20px;
    svg {
      transform: rotate(90deg);
    }
  }
  .fork-button:hover{
    svg{
      fill: #ffffff;
    }
  }

  .event-title {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    .fork {
      padding-left: 30px;
    }
  }

  .timeline-event-content {
    font-size: 100%;
    font-weight: normal;
    padding: 30px 20px 30px 20px;

    .step-description {
      img {
        width: 50%;
      }
      table {
        thead, tbody {
          tr {
            td + td {
              padding-left: 20px;
            }
          }
        }
      }
      blockquote {
        font-style: italic;
      }
    }
  }
}

.timeline-event>div:first-of-type>div:first-of-type {
  border-color: $dark !important;
  background: $background none repeat scroll 0% 0% !important;
}

.timeline-event:hover {
  background-color: darken($background, 5%);
}