@import "src/styles.scss";

.timeline-event {
  cursor: pointer;
  padding: 20px;
  .timeline-event-content {
    font-size: 100%;
    font-weight: normal;
    padding: 30px 20px 30px 20px;
  }
}

.timeline-event>div:first-of-type>div:first-of-type {
  border-color: $dark !important;
  background: $background none repeat scroll 0% 0% !important;
}

.timeline-event:hover {
  background-color: darken($background, 5%);
}