$light-red: #e74c3c;
$red: #c0392b;

$light-blue: #3498db;
$blue: #2980b9;

$light-yellow: #f1c40f;
$yellow: #f39c12;

$white: #ecf0f1; 
$dark-white: #bdc3c7;

$background: #fffcf2;
$dark: #3C2520;

$large: 1.5em;
$big: 1.2em;
$normal: 1em;

$font-family: Helvetica, "Open Sans";

* {
  color: $dark;
  font-family: $font-family;
}

body {
  background-color: $background;
  #root {
    max-width: 960px;
    margin: 0 auto;
    font-family: $font-family;
  }
}

::-webkit-scrollbar {
  display: none;
}

h1, h2 {
  font-family: "Big John";
}

pre > code {
  background-color: $background;
  padding: 20px;
  font-family: monospace;
}